@model VideoGameStore.Areas.Admin.Models.GameViewModel

@{
    ViewData["Title"] = "Create";

}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="game.Title" class="control-label"></label>
                <input asp-for="game.Title" class="form-control" />
                <span asp-validation-for="game.Title" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="game.ReleaseDate" class="control-label"></label>
                <input asp-for="game.ReleaseDate" class="form-control" />
                <span asp-validation-for="game.ReleaseDate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="game.Platform" class="control-label"></label>
                <select asp-for="game.Platform" class="form-control" asp-items="Html.GetEnumSelectList<VideoGameStore.Models.Platform>()"></select>
                <span asp-validation-for="game.Platform" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="game.Price" class="control-label"></label>
                <input asp-for="game.Price" class="form-control" />
                <span asp-validation-for="game.Price" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="game.StockQuantity" class="control-label"></label>
                <input asp-for="game.StockQuantity" class="form-control" />
                <span asp-validation-for="game.StockQuantity" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Genre:</label>
                <select asp-for="game.GenreID" class="form-control"
                        asp-items='@new SelectList(Model.genres, "GenreID", "Name")'>
                </select>
            </div>
            
            <div class="form-group">
                <label class="control-label">Publisher:</label>
                <select asp-for="game.PublisherID" class="form-control"
                        asp-items='@new SelectList(Model.publishers, "PublisherID", "Name")'>
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
