@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Michael's Car Dealership</h2>
        <p>
            The Car Dealership is a Demonstration project to help learn ASP.NET Core MVC, EF Core & Bootstrap
        </p>
    </div>
    <div class="col-md-4">
        <h2>Built By Michael Napoli</h2>
        <p>This was completed as part of COP2839 ASP.Net at St. Petersburg Colleege</p>
    </div>
    <div class="col-md-4">
        <h2>COP2839 ASP.Net with C# Course</h2>
        <p>This project combines ASP.Net Core, C#, Windows SDK, Entity Framework Core, .Net Framework, Model View Controller, and SQL Server Expresss. </p>
    </div>
</div>
